* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --blue: #008ddf;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.container > div {
    border: 1px solid black;
}

.header {
    grid-column: 2;
    grid-row: 1;
}

.this {
    display: flex;
    justify-self: center;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr;
    gap: 50px;

    padding-left: 0.8rem;
    padding-top: 1rem;

    color: var(--white);
    background-color: var(--blue);
}

.logo > div, .navigation > div, .help > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.center-logo {
    display: flex;
    justify-self: center;
}

.help, .navigation {
    display: grid;
    gap: 1rem;
}

.main {
    grid-column: 2;
    grid-row: 2;
}